name: Deploy to Cloud Run

on:
  push:
    tags:
      - '*'

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  DOCKER_REPO: ${{ vars.REGION }}-docker.pkg.dev
  IMAGE_PATH: ${{ env.DOCKER_REPO }}/${{ env.PROJECT_ID }}/${{ vars.REPO_NAME }}/${{ vars.IMAGE_NAME }}:latest

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker ${{ vars.DOCKER_REPO }}

      - name: Build and Push Container
        run: |
          docker build -t ${{ env.IMAGE_NAME }} .
          docker push ${{ env.IMAGE_NAME }}

      - name: Deploy to Cloud Run Job
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          job: ${{ env.IMAGE_NAME }}
          image: ${{ vars.REGION }}
          region: ${{ vars.REGION }}
          flags: '--execute-now'
